.elementor-317 .elementor-element.elementor-element-75579ccf .elementor-tab-title, .elementor-317 .elementor-element.elementor-element-75579ccf .elementor-tab-title:before, .elementor-317 .elementor-element.elementor-element-75579ccf .elementor-tab-title:after, .elementor-317 .elementor-element.elementor-element-75579ccf .elementor-tab-content, .elementor-317 .elementor-element.elementor-element-75579ccf .elementor-tabs-content-wrapper{border-width:0px;}.elementor-317 .elementor-element.elementor-element-75579ccf .elementor-tab-title, .elementor-317 .elementor-element.elementor-element-75579ccf .elementor-tab-title a{color:#100F10;}.elementor-317 .elementor-element.elementor-element-75579ccf .elementor-tab-title.elementor-active,
					 .elementor-317 .elementor-element.elementor-element-75579ccf .elementor-tab-title.elementor-active a{color:#1925D1;}.elementor-317 .elementor-element.elementor-element-75579ccf .elementor-tab-title{font-family:"Ubuntu", Sans-serif;font-size:16px;font-weight:400;line-height:1.3em;}.elementor-317 .elementor-element.elementor-element-75579ccf .elementor-tab-content{color:#232020;font-family:"Ubuntu", Sans-serif;font-size:15px;font-weight:400;line-height:1.8em;}.elementor-317 .elementor-element.elementor-element-75579ccf > .elementor-widget-container{padding:1px 1px 1px 1px;}/* Start custom CSS for tabs, class: .elementor-element-75579ccf */.pad-tb {
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-widget-tabs .elementor-tab-desktop-title {
    position: relative;
    padding: 10px 10px;
    border: solid transparent;
    background: #f8f9fa;
    border-radius: 50px;
    margin: 20px 10px;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
}/* End custom CSS */